Repository KTH/programmable-society, pull requests merged in 2023-11, with the labels that each got.

#37 added presentation proposal for flint
  contributions/presentation/week2/zeiher/README.md
Labels: presentation, First course PR!

#38 Demo Proposal - Simple smart contracts with SmartPy
  contributions/demo/week2/felixq/README.md
Labels: presentation, demo

#39 Presentation proposal (Noir) week 2
  contributions/presentation/week2/chrvik/README.md
Labels: presentation

#42 Presentation proposal: Vyper
  contributions/presentation/week2/oskarsva/README.md
Labels: presentation

#41 Pressentation Proposal Koen
  contributions/presentation/week2/iosif/README.md
Labels: presentation

#45 Week 5 proposal pierrelf
  contributions/demo/week5/pierrelf/README.md
Labels: presentation, demo

#50 Demo proposal week3
  contributions/demo/week3/algust/README.md
Labels: demo, week3

#52 Assignment Proposal: Fair and Transparent Salaries
  contributions/smart-contract-protocol/chrvik-vivia/README.md
Labels: smart-contract-protocol

#57 Demo proposal: Mythril
  contributions/demo/week4/oskarsva/README.md
Labels: demo, week4

#59 Assignment Proposal: HabitatHash
  contributions/smart-contract-protocol/efle-baggman/README.md
Labels: smart-contract-protocol

#61 Demo proposal: Hardhat
  contributions/demo/week4/efle/README.md
Labels: demo, week4

#62 Presentation proposal: Proof of Stake vs. Proof of Work
  contributions/presentation/week6/efle/README.md
Labels: presentation, week6

#55 Foundry the chain builder
  contributions/demo/week4/iosif/README.md
Labels: demo, week4

#63 Presentation Proposal: Modern Problems Require Modern Solutions: MPCs and Multisigs
  contributions/presentation/week4/rscholz/README.md
Labels: presentation, week4

#64 Demo: fuzzing for smart contracts
  contributions/demo/week4/zeiher/README.md
Labels: demo, week4

#66 Essay proposal: Ethereum Scaling using ZKPs
  contributions/essay/vivia/README.md
Labels: essay

#65 Demo: Creating an NFT from scratch with Solidity
  contributions/demo/week5/chrvik/README.md
Labels: demo, week5

#67 Assignment Proposal: Re-entrancy vulnerabilities & techniques for protecting smart contracts against them
  contributions/presentation/week4/lerjevik/README.md
Labels: presentation, week4

#70 Add essay proposal pierrelf
  contributions/essay/pierrelf/README.md
Labels: essay

#68 Presentation proposal: NFTs Unchained: From Central Servers to IPFS
  contributions/presentation/week5/felixq/README.md
Labels: presentation, week5

#72 Essay proposal for icp
  contributions/essay/iosif/README.md
Labels: essay

#73 Demo proposal, week 6: Blockchain monitoring, incident response with Open zeppelin defender
  contributions/demo/week6/baggman/README.md
Labels: demo, week6
