Repository KTH/programmable-society, pull requests merged in 2023-12, with the labels that each got.

#82 demo proposal
  contributions/demo/week6/vivia/README.md
Labels: demo, week6

#87 Presentation proposal week 7
  contributions/presentation/week7/algust/README.md
Labels: presentation, week7

#88 essay: ZKP Computation Verification.
  contributions/essay/vivia/vivia_essay.pdf
Labels: essay

#60 Contract Proposal: Transparency and access to safety critical data
  contributions/smart-contract-protocol/iosif-zeiher/README.md
Labels: smart-contract-protocol
